[submodule "Roboversion"]
	path = Roboversion
	url = https://Eryoneta@github.com/Eryoneta/Roboversion.git
[submodule "powershell-prompt"]
	path = powershell-prompt
	url = https://Eryoneta@github.com/Eryoneta/powershell-prompt.git
[submodule "git-tools"]
	path = git-tools
	url = https://Eryoneta@github.com/Eryoneta/git-tools.git
